body {
    font-family: arial, sans-serif;
}
ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

ul.header li {
    float: left;
}

ul.header li a {
    display: block;
    color: #000;
    opacity: 0.75;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

ul.header li a:hover {
    text-decoration: underline;
}

div.hr {
    float: right;
}

ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
}

ul.footer li {
    float: left;
}

ul.footer li a {
    display: block;
    color: #6c7074;
    text-align: center;
    margin: 14px 14px;
    text-decoration: none;
}

ul.footer li a:hover {
    text-decoration: underline;
}
div#fl {
    margin-left: 15px;
}

div.fr {
    float: right;
    margin-right: 15px;
}
img.logo {
    padding-top: 109px;
    
}

div.main {
    text-align: center;
}