ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

ul.header li {
    float: left;
}

ul.header li a {
    display: block;
    color: #000;
    opacity: 0.75;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

ul.header li a:hover {
    text-decoration: underline;
}

div.hr {
    float: right;
}

ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    height: 35px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

ul.footer li {
    float: left;
}

ul.footer li a {
    display: block;
    color: #000;
    opacity: 0.75;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

ul.footer li a:hover {
    text-decoration: underline;
}

div.fr {
    float: right;
}
img.logo {
    padding-top: 109px;
    
}

div.main {
    text-align: center;
}